.offer__container {
    background: green;
    width: 95%;
    height: 100vh;
}

@media(min-width: 500px) {
    .offer__container {
        margin: 0 auto;
        background: rgba(131, 133, 131, 0.65);
        width: 70%;
        height: 100vh;
    }
}